<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>TurboBunny: {{route}}</title>

    <link rel="search" type="application/opensearchdescription+xml" title="TurboBunny@{{server_fqdn}}" href="/search.xml">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap-4.2.css" />
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/popper-1.14.6.js"></script>
    <script src="/static/bootstrap-4.2.1.js"></script>
</head>

<body>
    <div class="container py-2">
